.Extra {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .Children {
        position: absolute;
        position: absolute;
        width: 100%;
        height: calc(100% - 26px);
        left: 0px;
        top: 26px;
        background-color: #212121;
    }
}